*{
    box-sizing: border-box;
}
html,body,.wrapper{ height: 100%; }
body
    {
    display: grid;
    place-items: center;
    padding: 0 24px;
    margin:0;
    font-family: verdana;
    color: rgb(51, 3, 3);
    background: url(image/pexels-photo-2246476.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    }
button{
    background:transparent;
    border-radius: 0px;
    cursor: pointer;
    }
.control
    {
    border: 0;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #e79c83f7;
    color: black;
    font-family: verdana;
    font-size:16px;
    transition:0.4s;
    }
.login-card
    {
    width:400px;
    padding:100 50 70px;
    border-radius: 1.25em;
    background:rgb(233, 204, 181);
    }
.login-card>h1 {
    font-size: 26px;
    font-weight: 600;
    margin: 0 0 6px;
    color: chocolate;
    padding-bottom: 45px;
}

.login-card>h3{
    color:#000000;
    margin: 0 0 40px;
    font-weight: 500;
    font-size: 1rem;
}
.login-form{
    width:100%;
    margin:0;
    display:grid;
    gap: 20px;
}
.login-form> button.control{
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 26px;
    background:black;
    color:#f9f9;
    border:0;
    font-family: inherit;
    font-size:1rem;
    font-weight:600;
    text-align: center;
    letter-spacing:2px;
    transition: all 0.375s;
}
.password{
    position:relative;
}
.button{
    width: 100%;
    height:56px;
    padding:0 16px;
    border-radius: 8px;
    background:rgb(251, 158, 158);
    color:white;
    letter-spacing:3px;
    transition: all 0.3s;
}
.button:active{
    transform: translatey(0.3rem)
}
button{
    color:rgb(209, 126, 126);
}
  a:hover, a:active {
    background-color: black;
  }
  .footer{
    background-color: var(--light-bg);
    text-align: center;
    /* padding-bottom: 7rem; */
 }
 
 
 .footer .share a{
    margin:0 .3rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color:var(--white);
    background-color: var(--black);;
 }
 
 .footer .share a:hover{
    background-color: var(--green);
 }
 
 .footer .credit{
    margin-top: 2.5rem;
    padding:1.5rem;
    padding-top: 2.5rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color:var(--light-white);
 }
 
 .footer .credit span{
    color:var(--green);
 }